@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
/* width for colored buttons for 768px screen sizes */
/* Step 1 To use this mixin, we first need to refernce the breakpoints map
 in our variables partial.
   Step 2 We use the map-get( ) to retrieve the info from the breakpoints map
   The first argument you place in the function is the $keyword for the map itself
   and the second argument would be the string you want to select from the map
   to get the value
   ex) map-get($breakpoints, 'lg')
   but using the map-get( ) many times is repetitive so we can use the format below by
   first declaring a local variable that stores a value associated with a given key 
   and a breakpoints map
 */
.my-pic,
.circle {
  border-radius: 50%;
  border: 2px solid #B38F00;
  height: 3.75em;
}

.button-disabled, .button-save, .button-primary, .form-field,
textarea, .search-input {
  padding: 0.5em;
  border-radius: 5px;
  outline: none;
}
.button-disabled:focus, .button-save:focus, .button-primary:focus, .form-field:focus,
textarea:focus, .search-input:focus {
  border: 2px solid #089af5;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

body,
header,
nav,
section,
div,
ul,
p,
h1,
h2,
h3,
form {
  margin: 0;
  padding: 0;
}

h1 {
  display: inline-block;
  flex: 1;
  font-size: 0.9375em;
  font-style: italic;
  color: #fff;
}

span {
  font-size: 1.4375em;
  padding-left: 0.1875em;
}

h2,
h3 {
  color: #606060;
  font-size: 1em;
  text-align: center;
  margin-top: 1em;
}

h3 {
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
}
@media (min-width: 768px) {
  h3 {
    text-align: left;
    margin-left: 1em;
  }
}

section {
  width: 100%;
  border-bottom: 1px solid #8c8c8c;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
}
@media (min-width: 768px) {
  section {
    display: flex;
    flex-wrap: wrap;
  }
}

section h3 {
  padding-bottom: 1em;
}

form {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.grid_wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "navigation" "main";
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
}
@media (min-width: 768px) {
  .grid_wrapper {
    display: grid;
    grid-template-columns: 60px repeat(2, minmax(200px, auto));
    grid-template-areas: "header header header" "navigation main main" "navigation main main" "navigation main main" "navigation main main" "navigation main main";
  }
}

.main-grid-wrapper {
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
}
@media (min-width: 768px) {
  .main-grid-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

header {
  grid-area: header;
}

nav {
  grid-area: navigation;
}

main {
  grid-area: main;
}

.traffic,
.social {
  grid-column-start: 1;
  grid-column-end: 3;
}

/* ------------IMAGES---------------*/
.my-pic {
  height: 2.1875em;
}

.profile-image {
  height: 2.1875em;
}

/* ------------ICONS---------------*/
.bell {
  width: 1.25em;
  height: 1.25em;
  fill: #fff;
  margin-right: 7px;
  transition: transform 0.6s ease-in-out;
  transform-origin: 50% 50%;
}

.bell:hover {
  transform: scale(1.1) rotate(25deg);
}

.search-button svg {
  width: 17px;
  height: 17px;
  fill: #fff;
}

.nav-wrapper svg {
  width: 1.5625em;
  height: 1.5625em;
  margin: 7px;
  fill: #fff;
}
.nav-wrapper svg:hover {
  fill: #B38F00;
  transition: all 0.4s ease-in;
  transform: scale(1.2);
}

.social-google > svg,
.social-facebook > svg,
.social-twitter > svg {
  width: 25px;
  height: 25px;
  fill: #fff;
}

.my-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #9ad6fc;
  padding: 5px;
  z-index: 10;
  box-shadow: 0 8px 6px -6px black;
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
}
@media (min-width: 768px) {
  .my-header {
    padding: 5px 5px;
  }
}

.user-profile {
  border-left: 1px solid #fff;
  padding-left: 7px;
  display: flex;
}

.notification-circle {
  cursor: pointer;
  position: absolute;
  right: 7.9em;
  top: 0.625em;
  background-color: #1ACE05;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
}
@media (min-width: 768px) {
  .notification-circle {
    right: 8.7em;
  }
}

.notify-message-box {
  display: none;
}

.profile-username {
  display: flex;
  font-size: 0.75em;
  padding-left: 5px;
  width: 6.25em;
  color: #fff;
  text-align: center;
}

.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1em;
}

.db-title {
  flex-basis: 35%;
  font-size: 1em;
  padding: 1em;
  margin-top: 0;
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
}
@media (min-width: 768px) {
  .db-title {
    font-size: 1.5em;
    padding: 0.5em;
  }
}
@media (min-width: 1024px) {
  .db-title {
    flex-basis: 30%;
    font-size: 1.8em;
  }
}
.db-title:hover {
  color: #B38F00;
  transition: color 0.6s ease-out;
}

.search-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  background: #E8E8E8;
  flex-basis: 65%;
  border-radius: 3px 0 0 6px;
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
}
@media (min-width: 1024px) {
  .search-wrapper {
    flex-basis: 70%;
    font-size: 0.9em;
  }
}

.alert-wrapper {
  background: #9ad6fc;
  position: relative;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  padding: 4px 1em 1em 1em;
}
.alert-wrapper strong {
  color: #000;
  padding-right: 10px;
}
.alert-wrapper p {
  display: flex;
  font-size: 0.95em;
  padding: 5px 10px 0 5px;
}

.alert-wrapper span {
  font-size: 2em;
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

.daily,
.new-members,
.message {
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
}
@media (min-width: 768px) {
  .daily,
.new-members,
.message {
    border-right: 1px solid #8c8c8c;
  }
}

.icon-wrapper {
  background: #E8E8E8;
  border: 1px solid #606060;
  border-radius: 15px;
  margin-bottom: 1em;
  padding: 20px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
}
@media (min-width: 768px) {
  .icon-wrapper {
    display: flex;
    flex-direction: row;
    width: 28%;
    padding: 10px;
  }
}

.social-twitter,
.social-facebook,
.social-google {
  border-radius: 50%;
  background: #9ad6fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
}
@media (min-width: 768px) {
  .social-twitter,
.social-facebook,
.social-google {
    height: 50px;
    width: 50px;
  }
}

.twitter-text,
.facebook-text,
.google-text {
  display: flex;
  flex-direction: column;
  padding-left: 1.5em;
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
}
@media (min-width: 768px) {
  .social-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.members-container,
.last-member-container,
.members-text {
  display: flex;
  flex-wrap: wrap;
}

.members-container,
.last-member-container {
  position: relative;
  padding: 1.5em 0;
  margin: 0 auto;
  width: 90%;
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
}
@media (min-width: 768px) {
  .members-container,
.last-member-container {
    width: 90%;
  }
}

.members-container {
  border-bottom: 1px solid #8c8c8c;
  padding-bottom: 5px;
}

.members-text {
  width: 80%;
  padding-left: 0.8em;
  padding-bottom: 1em;
}
.members-text + p {
  position: absolute;
  top: 15px;
  right: 0;
}
.members-text p {
  width: 100%;
}
.members-text + .arrow {
  top: 30px;
  color: #089af5;
  font-size: 1.5em;
}

.widget-container-full,
.widget-container-half {
  width: calc(100vw - 55px - 2em);
  position: relative;
  margin: 0 auto;
  padding: 10px 0;
}

.widget-container-half {
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
}
@media (min-width: 768px) {
  .widget-container-half {
    width: calc((100vw - 55px - 4em) / 2);
    position: relative;
  }
}

.twitter-text p:first-child,
.facebook-text p:first-child,
.google-text p:first-child {
  color: #089af5;
  font-size: 1.5em;
  font-weight: 500;
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
}
@media (min-width: 768px) {
  .twitter-text p:first-child,
.facebook-text p:first-child,
.google-text p:first-child {
    font-size: 1.2em;
  }
}

.twitter-text p:last-child,
.facebook-text p:last-child,
.google-text p:last-child {
  font-size: 2.5em;
}

nav {
  background-color: #089af5;
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 35px;
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
}
@media (min-width: 768px) {
  .nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
  }
}
.nav-wrapper li {
  list-style-type: none;
}
.nav-wrapper li:hover {
  background: #9ad6fc;
}
.nav-wrapper a {
  padding: 10px;
}

.search-input {
  height: 30px;
  width: 80%;
  align-self: center;
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
}
@media (min-width: 1024px) {
  .search-input {
    width: 60%;
  }
}

.widget-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

form {
  padding-top: 1em;
}

#userField {
  margin-top: 0px;
}

.form-field,
textarea {
  width: 100%;
  margin-top: 1em;
}

.timezone {
  margin-top: 1.9em;
}

textarea {
  height: 125px;
}

.search-button {
  height: 30px;
  border-radius: 5px;
  align-self: center;
  height: 30px;
  outline: none;
  background: #9ad6fc;
}

.traffic-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
}
@media (min-width: 768px) {
  .traffic-nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
  }
}
.traffic-nav li {
  border-radius: 10px;
  list-style-type: none;
  margin-top: 1em;
  padding: 8px;
}
.traffic-nav li:hover {
  background: green;
  border-radius: 10px;
  transition: background 0.8s;
  color: #fff;
  cursor: pointer;
}

/*-------Message button Styles---------*/
.button-primary {
  margin: 1em 0;
  width: 100%;
  background: #9ad6fc;
  color: #fff;
}
.button-primary:hover {
  background: #9ad6fc;
}

/*-------Settings button Styles---------*/
.settings {
  margin: 0 auto;
}
.settings-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.button-save {
  background: #9ad6fc;
  color: #fff;
  width: 45%;
  margin: 1em 0;
}

.button-disabled {
  background: #606060;
  color: #fff;
  width: 45%;
  margin: 1em 0;
}

.email-settings,
.profile-settings {
  display: flex;
  justify-content: space-around;
  margin: 0.94em auto;
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
}
@media (min-width: 768px) {
  .email-settings,
.profile-settings {
    display: flex;
    justify-content: flex-start;
  }
}

.p-settings {
  padding-top: 6px;
  flex-basis: 60%;
  /*first declaring a local variable (ex) $value) that stores a value associated 
    with a given key and a breakpoints map*/
}
@media (min-width: 1024px) {
  .p-settings {
    flex-basis: 40%;
  }
}

/*----------Toggle Switch/ button Styles----------*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #9ad6fc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #9ad6fc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 10px 0 0 5px;
  color: #fff;
  letter-spacing: 1px;
}

.slider.round:before {
  border-radius: 50%;
}

/*# sourceMappingURL=styles.css.map */
