
//Main Dashboard Search Field
.search-input{
    height: 30px;
    width: 80%;
    align-self: center;
    margin-right: .3em;
    @extend %padding;
}

.widget-container{
    @include flex_me($dir:column, $vertAlign: center);
    width: 90%;
    margin: 0 auto;
}

.form-field,
textarea{
    width: 100%;
    margin-top: 1em;
    @extend %padding;
}

textarea{
    height: 125px;
}