
//Main Dashboard Search Field
.search-input{
    height: 30px;
    width: 80%;
    align-self: center;
    @extend %padding;
    @include mq('lg'){
      width: 60%;  
  }
}

.widget-container{
    @include flex_me($dir:column, $vertAlign: center);
    width: 90%;
    margin: 0 auto;
}

form{
  padding-top: 1em;
}

.hidden-form{
    display: none !important;
}

#userField{
    margin-top: 0px;
}

.form-field,
textarea{
    width: 100%;
    margin-top: 1em;
    @extend %padding;
}

.error-msg-1{
   display: flex; 
   justify-content: center;
   color: red;
}

.error-msg-2{
    display: flex; 
    justify-content: center;
    align-items: center;
    color: red;
    width: 100%;
    height: 70%;
    color: green;
 }
.timezone {
    margin-top: 1.9em;
}

textarea{
    height: 125px;
}