
//Main Dashboard Search Field
.search-input{
    height: 30px;
    width: 80%;
    align-self: center;
    @extend %padding;
    @include mq('lg'){
      width: 60%;  
  }
}

.widget-container{
    @include flex_me($dir:column, $vertAlign: center);
    width: 90%;
    margin: 0 auto;
}

form{
  padding-top: 1em;
}

#userField{
    margin-top: 0px;
}

.form-field,
textarea{
    width: 100%;
    margin-top: 1em;
    @extend %padding;
}

.timezone {
    margin-top: 1.9em;
}

textarea{
    height: 125px;
}