.grid_wrapper{
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "navigation" 
    "main";
    @include mq('md'){
        display: grid;
        grid-template-columns: 4% 48% 48%; 
        grid-template-rows:  50px repeat(5, 1fr);
        grid-template-areas:
        "header header header"
        "navigation main main"
        "navigation main main"
        "navigation main main"
        "navigation main main"
        "navigation main main"; 
  }    
}

header {
    grid-area: header;
}

nav {
    grid-area: navigation;
}

main {
    grid-area: main;
}

.main-header{
    @include flex_me(
        $dir: column,
        $wrap: wrap,

    )
}
    