.grid_wrapper{
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "navigation"
    "main";
    @include mq('md') {
       .grid_wrapper{
        grid-template-columns: 85px 1fr 1fr;
        grid-template-rows: repeat();
        grid-template-areas: 
        "header header header"
        "navigation main main"
        "navigation main main"
        "navigation main main"
        "navigation main main";
       } 
     } 
}

.my-header{
    grid-area: header;
}

.navigation{
    grid-area: navigation;
}

.main{
    grid-area: main;
}


    