.grid_wrapper{
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "navigation" 
    "main";
    @include mq('md'){
        display: grid;
        grid-template-columns: 60px repeat(2, minmax(200px, auto)); 
        grid-template-areas:
        "header header header"
        "navigation main main"
        "navigation main main"
        "navigation main main"
        "navigation main main"
        "navigation main main"; 
  }    
}

header {
    grid-area: header;
}

nav {
    grid-area: navigation;
}

main {
    grid-area: main;
    
}

.traffic,
.social-container{
    grid-column-start: 1;
    grid-column-end: 3;
}



  