
.my-header,
.user-profile{
  @include flex_me($just: flex-end);
}
.my-header {
  background-color: $primary-light;
}

h1{
 display: inline-block;
 flex: 1;
 font-size: px-to-ems(20px);
 font-style: italic;
 color: $white; 
}

span{
  font-size: px-to-ems(23px);  
  padding-left: px-to-ems(3px);
}

.bell{
  width: px-to-ems(30px);
  fill: $white;
  border-right: 2px solid $white;
}

.notify-message-box{
  display: none;
}
