
.my-header{
  @include flex_me($just: flex-end, $vertAlign: center);
}
.my-header {
  background-color: $primary-light;
  padding: 5px;
}

.user-profile{
  border-left: 1px solid $white;
  padding-left: 7px;
  @include flex_me($just:null);
 
}

.bell{
  width: px-to-ems(20px);
  fill: $white;
  margin-right: 7px;
}

.notification-circle{
  cursor: pointer;
  position: absolute;
  right: 125px;
  top: px-to-ems(10px);    
  background-color: #1ACE05;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.my-pic{
  height: px-to-ems(35px); 
}

.notify-message-box{
  display: none;
}

.profile-username{
  display: flex;
  align-self: center;
  font-size: px-to-ems(12px);
  padding-left: 5px;
  width: px-to-ems(100px);
  color: $white;
  @include txt-cntrd;
}
