
.my-header {
  @include flex_me($wrap: wrap, 
                   $just: flex-end);
  background-color: $primary-light;
}

h1{
 display: inline-block;
 font-size: px-to-ems(20px);
 font-style: italic;
 color: $white;
}

span{
  font-size: px-to-ems(23px);  
  padding-left: px-to-ems(3px);
}

.bell{
  width: px-to-ems(30px);
  fill: $white;
}
