 // placing the vertical line to split the content up
.daily,
.new-members,
.message{
    @include mq('md'){
        border-right: 1px solid $font-color-secondary;
    }
}

// Laying out social media section//

// Gray background for Social Media Icons
.icon-wrapper{
    background: #E8E8E8;
    border: 1px solid $font-color;
    border-radius: 15px;
    margin-bottom: 1em;
    padding: 20px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    @include flex_me($just: center, $vertAlign:center);
    margin-top: 1em;
    @include mq('md'){
        @include flex_me($dir: row);
        width: 28%;
        padding: 10px;
    }
}

// Blue Circle for social icons
.social-twitter,
.social-facebook,
.social-google{
    border-radius: 50%;
    background: $primary-light;
    @include flex_me($just:center, $vertAlign: center);
    height: 70px;
    width: 70px;
    @include mq('md'){
       height: 50px;
       width: 50px; 
    }
}

// Social Media Text Layout
.twitter-text,
.facebook-text,
.google-text{
    @include flex_me($dir:column);
    padding-left: 1.5em;
}

.social-container{
    @include flex_me($dir:column, $vertAlign:center);
    margin: 1em 0;
    @include mq('md'){
        @include flex_me($dir: row, $just: space-around);
    }
}

// Laying out The New Member & Recent Activity section
.members-container,
.last-member-container,
.members-text{
    @include flex_me($wrap:wrap);
}

.members-container,
.last-member-container{
    position: relative;
    padding: 1.5em 0;
    margin: 0 auto;
    width: 90%;
    @include mq('md'){
        width: 90%;
    }      
}

.members-container{
    border-bottom: 1px solid $font-color-secondary;
    padding-bottom: 5px;
}

.members-text{
    width: 80%;
    padding-left: .8em;
    padding-bottom: 1em;
    & + p{
      position: absolute;
      top: 15px;
      right: 0;
    }
    & p {
         width: 100%;
       }
    & + .arrow {
        top: 30px;
        color: $primary;
        font-size: 1.5em;
      }
    }

.widget-container-full,
.widget-container-half{
    width: calc(100vw - 55px - 2em);
    position: relative;
    margin: 0 auto;
    padding: 10px 0;
}

.widget-container-half{
    @include mq('md'){
        width: calc((100vw - 55px - 4em) / 2);
        position: relative;
 }
}





