//Dashboard & Search bar Wrapper
.main-header{
    @include flex_me(
         $dir: row,
         $wrap: wrap,
         $just: space-between
     );
} 

.db-title{
    flex-basis: 20%;
    font-size: .9em;
    padding-left: 10px; 
}

.search-wrapper{
    @include flex_me($just: flex-end);
    height: 50px;
    background: #E8E8E8;
    flex-basis: 75%;
}
// placing the vertical line to split the content up
.daily,
.new-members,
.message{
    @include mq('md'){
        border-right: 1px solid $font-color-secondary;
    }
}
// Laying out traffic section
.traffic-header,
.traffic-nav{
    padding: 1em;
    @include flex_me($dir:column,$just: center);
    @include mq('md'){
        @include flex_me($dir:row,$just: space-between);
    }
}

// Laying out social media section
.twitter-text,
.facebook-text,
.google-text{
    @include flex_me($dir:column, $vertAlign: center);
}

.social-container{
    @include flex_me($dir:column, $vertAlign:center);
    margin: 1em 0;
    @include mq('md'){
        @include flex_me($dir: row, $just: space-around);
    }
}
// Gray background for Social Media Icons
.icon-wrapper{
    background: #E8E8E8;
    border: 1px solid #8c8c8c;
    border-radius: 15px;
    margin-bottom: 1em;
    padding: 10px;
    width: 60%;
    @include flex_me($dir:column, $vertAlign:center);
    margin-top: 1em;
    @include mq('md'){
        @include flex_me($dir: row);
        width: 28%;
        padding: 10px;
    }
}
// Circular Blue Icons
.social-twitter,
.social-facebook,
.social-google{
    @include flex_me($just:center, $vertAlign: center);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: $primary;
    margin-top: 1em;
}

// Laying out The New Member & Recent Activity section
.members-container,
.last-member-container{
    @include flex_me($dir:column, $vertAlign: center);
    @include mq('md'){
        @include flex_me($dir: row);
    }
    & p{
        text-align: center;
    }
}

.members-container,
.last-member-container{
    padding: 1em 0;
    margin: 0 auto;
    width: 70%;
    @include mq('md'){
        width: 90%;
    }      
}

.members-container{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}




