nav {
    background-color: $primary;
}

.nav-wrapper{
    @include flex_me($just: space-around);
    margin: 0;
    padding: 0 30px;
    @include mq('md'){
        @include flex_me($dir: column, $just:center);
        padding: 0;
        margin: 10px;
    }
    
}



