
.twitter-text p:first-child,
.facebook-text p:first-child,
.google-text p:first-child {
    color: $primary;
    font-size: 1.5em;
    font-weight: 500;
    @include mq('md'){
        font-size: 1.2em;
    }
}

.twitter-text p:last-child,
.facebook-text p:last-child,
.google-text p:last-child {
    font-size: 2.5em;
}