* {
    box-sizing: border-box;
}

body,
header,
nav,
section,
div,
ul,
p,
h1,
h2,
h3,
form{
    margin: 0;
    padding: 0;
}

h1{
    display: inline-block;
    flex: 1;
    font-size: px-to-ems(14px);
    font-style: italic;
    color: $white; 
   }

span{
    font-size: px-to-ems(23px);  
    padding-left: px-to-ems(3px);
  }